name: Build and Push Docker Images

on:
  schedule:
    # Every Monday at 04:00 UTC
    - cron: '0 4 * * 1'
  workflow_dispatch: # Allow manual trigger

env:
  REGISTRY: ghcr.io
  IMAGE_PREFIX: ghcr.io/${{ github.repository_owner }}

jobs:
  build-and-push:
    runs-on: ubuntu-latest
    permissions:
      contents: read
      packages: write

    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Log in to the Container registry
        uses: docker/login-action@v3
        with:
          registry: ${{ env.REGISTRY }}
          username: ${{ github.repository_owner }}
          password: ${{ secrets.GITHUB_TOKEN }}

      - name: Build and Push Base Image
        run: |
          docker build -t ${{ env.IMAGE_PREFIX }}/base ./base
          docker push ${{ env.IMAGE_PREFIX }}/base

      - name: Build and Push OCaml 5.4 Image
        run: |
          docker build -t ${{ env.IMAGE_PREFIX }}/ocaml-5.4 ./ocaml-5.4
          docker push ${{ env.IMAGE_PREFIX }}/ocaml-5.4


      - name: Build and Push OCaml 5.4 Tool Images
        run: |
          # docker build -t ${{ env.IMAGE_PREFIX }}/ocaml-5.4-cvc5 ./ocaml-5.4-cvc5
          # docker push ${{ env.IMAGE_PREFIX }}/ocaml-5.4-cvc5
          docker build -t ${{ env.IMAGE_PREFIX }}/ocaml-5.4-z3 ./ocaml-5.4-z3
          docker push ${{ env.IMAGE_PREFIX }}/ocaml-5.4-z3
